<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
{{>navbar}}
<h1 id="greeting-header">{{message}}</h1>
<div id="container">
    <section id="1">
        <div class="title">
            <h1>Обзор на</h1>
            <span>неделю</span>
        </div>
        <div class="left-right-wrapper">
            <div class="left">
                {{#each cards}}
                    <div class="card">
                        <div class="card-wrapper">
                            <div class="card-header">
                                <div class="img-container">
                                    <span style="background-image: {{this.header_img}}"></span>
                                </div>
                                <h1>{{this.header}}</h1>
                            </div>
                            <div class="text">
                                <h1>{{this.text}}</h1>
                            </div>
                            <div class="stats">
                                {{#if this.stat_color}}
                                    <span class="arrow">
                                    <span style="background-image: {{this.arrow}}"></span>
                                </span>
                                    <span class="arrow-text" style="color: {{this.stat_color}}">{{this.stat_info}}</span>
                                {{/if}}
                                <span class="stats-text">{{this.stat_text}}</span>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class="right">
                <h1>Статистика по выполненным задачам</h1>
                <canvas id="graph"></canvas>
                <div id="otherStat">Прочая статистика</div>
            </div>
        </div>
    </section>
</div>
{{>dropdown}}
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>.
<script src="/js/home.js"></script>
</html>